* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #1f2937;
  font-size: 24px;
  padding: 24px 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

p,
.header-right ul {
  font-size: 18px;
}

header,
h1,
.cta,
.btn {
  color: #f9faf8;
}

.hero,
footer {
  background-color: #1f2937;
}

.btn--hero,
.cta {
  background-color: #3882f6;
}

h2,
.testimonial-text,
.testimonial-author {
  color: #1f2937;
}

.feature-item,
h2 {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  padding: 48px 0;
  color: #e5e7eb;
}

.hero p {
  margin: 22px 0;
}

.hero-image {
  width: 600px;
  height: 320px;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  padding: 12px 36px;
  border-radius: 8px;
  border: none;
}

.feature-img {
  width: 180px;
  height: 160px;
}

.information-section,
.cta-section {
  padding: 96px 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  padding-bottom: 44px;
}

.feature {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-basis: 175px;
}

.testimonial-section {
  background-color: #e5e7eb;
  padding: 128px 0;
}

.testimonial-container {
  max-width: 850px;
  margin: 0 auto;
}

.testimonial-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.testimonial-author,
.cta-heading {
  font-size: 24px;
  font-weight: 600;
}

.testimonial-author {
  text-align: right;
}

.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  border-radius: 12px;
}

.btn--cta {
  background: transparent;
  border: 2px solid #f9faf8;
}

footer {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}
